body{
    margin: 0 ;
    font-size: 1.125rem;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1em;
    line-height: 1.3;
}
h1{
    margin-left: 0.5em;
}

img{
    border: 1px solid gray;
    width: 80vw;
    
}

figcaption{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

figure{
    margin-bottom: 0;
    
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
}

@media all and (min-width:772px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 40vw;
        border-radius: 1000px;
    }
    .grid figure:last-child{
        grid-column: 1/-1;
    }

    .grid figure:last-child img{
        width: 80vw; 
    }
}

@media all and (min-width:992px){

    img{
        border-radius: 0px;
    }

    .grid figure:nth-child(3n){
        grid-column: 1/-1;
    }
    .grid figure:nth-child(3n) img{
        width: 80vw; 
    }



}

@media (prefers-color-scheme: dark) {
    figure {
        background-color: #333; 
        color: yellow; 
        border: 1px solid black;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}